<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
    <title>Appointment requests</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Cookie|Lobster|Satisfy&display=swap" rel="stylesheet">
</head>
<body>
{% if all_profiles %}
    <div class="container" style="margin-top: 40px;text-align: center"><h5>Following are the appointment requests:<br></h5></div>
<div class="list-group" style="margin-top: 60px; margin-left: 80px;margin-right: 500px">
{% for profile in all_profiles %}
    <a href="{% url 'individual_request' profile.id %}" class="list-group-item list-group-item-action" id="pp">{{ profile }}</a>
{% endfor %}
</div>

{% else %}
<div class="container" style="text-align: center;margin-top:40px;"><h2>No appointment requests!</h2></div>
{% endif %}
</body>
</html>
