<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head>
        <title>StudLife</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'student/style.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <style>
            img{
                height: 200px;
                width: 200px;
            }
            .thumbnail img{
    width: 100%;
}
.thumbnail .caption-full{

    padding: 9px;
}
        </style>
    </head>
    <body>
      
      
<header>
 <nav class="navbar navbar-default">
	  <div class="container">
   

		<h1>STUDLIFE NIGHT CANTEEN</h1>
  </div>
             <div><a class="btn btn-info btn-lg" href="{% url 'cart' user.id%}" role="button" style="height:30px;width:80px;float: right;">View cart</a></div>

  </div>
	</nav>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
     <h3>
        <a class="navbar-brand" href="#">MENU</a>
     </h3> 
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
		<div class="collapse navbar-collapse" id="navbarNav">
		  <ul class="navbar-nav">
        <li class="nav-item active">
          <h4>
              <a class="nav-link" href="{% url 'fav' user.id%}">Hostel Favourites</a></li>

          </h4>
            <li class="nav-item">
          <h4>
              <a class="nav-link" href="{% url 'refreshment' user.id%}">Refreshments</a></li>

          </h4>
           <li class="active">
              <h4>
                  <a class="nav-link" href="{% url 'fast' user.id%}">Fast Food <span class="sr-only">(current)</span></a></li>

              </h4>

            <li class="nav-item">
              <h4>
                  <a class="nav-link" href="{% url 'maincourse' user.id%}">Main Course</a></li>
              </h4>

		  </ul>
		</div> 
  </nav>
  <!-- </nav> -->

</header>

<!-- 
<div class="container">
    <header class="jumbotron"> 
      <div class="container">
          <h1> NIGHT CANTEEN MENU</h1>
           <p> 
            <a class="btn btn-primary btn-md" href="menu.html"> Hostel Favourites</a>
            <a class="btn btn-primary btn-md" href="refreshments.html"> Refreshments</a>
            <a class="btn btn-primary btn-md" href="maincourse.html"> Main Course</a>
          </p>
        </div>
    </header> -->

    <div class="container" class="m-5 pb-5 bg-info">
<div class="row text-center" style="display: flex; flex-wrap: wrap;" >
  <!-- <div class="col-lg-12">
      <h3> Our most popular sites</h3>
  </div> -->
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="thumbnail">
      <img src="{% static 'student/images/maggi.jpeg'%}">
      <div class="caption">
        <h4> Maggi (Plain) </h4> 
        <h5> Rs.25</h5>
                    <a class="btn btn-success btn-lg" href="{% url 'add_food' user_id=user.id food_id=4 val=2%}" role="button" style="float: left; margin-top: -10px">Add item</a>
          <a class="btn btn-danger btn-lg" href="{% url 'remove_food' user_id=user.id food_id=4 val=2%}" role="button" style="float: right; margin-top: -10px">Remove </a>

      </div>  

        <p>
          <!-- <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary"> More Info</a> -->
        </p>
    </div>
  </div>  
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="thumbnail">
      <img src="{% static 'student/images/eggmaggi.jpeg'%}" >
      <div class="caption">
        <h4> Egg Maggi </h4>
        <h5> Rs.30</h5>
                    <a class="btn btn-success btn-lg" href="{% url 'add_food' user_id=user.id food_id=15 val=2%}" role="button" style="float: left; margin-top: -10px">Add item</a>
          <a class="btn btn-danger btn-lg" href="{% url 'remove_food' user_id=user.id food_id=15 val=2%}" role="button" style="float: right; margin-top: -10px">Remove </a>

      </div>  

        <p>
          <!-- <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary"> More Info</a> -->
        </p>
    </div>
</div>  
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="thumbnail">
          <img src="{% static 'student/images/cheesemaggi.jpeg'%}">
          <div class="caption">
            <h4> Cheese Maggi </h4> 
            <h5> Rs.30</h5>
                        <a class="btn btn-success btn-lg" href="{% url 'add_food' user_id=user.id food_id=16 val=2%}" role="button" style="float: left; margin-top: -10px">Add item</a>
          <a class="btn btn-danger btn-lg" href="{% url 'remove_food' user_id=user.id food_id=16 val=2%}" role="button" style="float: right; margin-top: -10px">Remove </a>

          </div>  
    
            <p>
              <!-- <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary"> More Info</a> -->
            </p>
        </div>
      </div>  
      
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="thumbnail">
          <img src="{% static 'student/images/macroni.jpg'%}">
          <div class="caption">
            <h4> Macaroni (Veg) </h4> 
            <h5> Rs.25</h5>
                        <a class="btn btn-success btn-lg" href="{% url 'add_food' user_id=user.id food_id=3 val=2%}" role="button" style="float: left; margin-top: -10px">Add item</a>
          <a class="btn btn-danger btn-lg" href="{% url 'remove_food' user_id=user.id food_id=3 val=2%}" role="button" style="float: right; margin-top: -10px">Remove </a>

          </div>  
    
            <p>
              <!-- <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary"> More Info</a> -->
            </p>
        </div>
      </div>  
      
      
        
 
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="thumbnail">
      <img src="{% static 'student/images/eggmaca.jpg'%}">
      <div class="caption">
        <h4> Egg Macaroni </h4> 
        <h5> Rs.30</h5>
                    <a class="btn btn-success btn-lg" href="{% url 'add_food' user_id=user.id food_id=17 val=2%}" role="button" style="float: left; margin-top: -10px">Add item</a>
          <a class="btn btn-danger btn-lg" href="{% url 'remove_food' user_id=user.id food_id=17 val=2%}" role="button" style="float: right; margin-top: -10px">Remove </a>

      </div>  

        <p>
          <!-- <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary"> More Info</a> -->
        </p>
    </div>
  </div>  
  
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="thumbnail">
      <img src="{% static 'student/images/vegroll.jpeg'%}">
      <div class="caption">
        <h4> Roll (Veg) </h4> 
        <h5> Rs.25</h5>
                    <a class="btn btn-success btn-lg" href="{% url 'add_food' user_id=user.id food_id=8 val=2%}" role="button" style="float: left; margin-top: -10px">Add item</a>
          <a class="btn btn-danger btn-lg" href="{% url 'remove_food' user_id=user.id food_id=8 val=2%}" role="button" style="float: right; margin-top: -10px">Remove </a>

      </div>  

        <p>
          <!-- <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary"> More Info</a> -->
        </p>
    </div>
  </div>  
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="thumbnail">
      <img src="{% static 'student/images/chiroll.jpeg'%}">
      <div class="caption">
        <h4> Chicken Roll </h4> 
        <h5> Rs.45</h5>
                    <a class="btn btn-success btn-lg" href="{% url 'add_food' user_id=user.id food_id=6 val=2%}" role="button" style="float: left; margin-top: -10px">Add item</a>
          <a class="btn btn-danger btn-lg" href="{% url 'remove_food' user_id=user.id food_id=6 val=2%}" role="button" style="float: right; margin-top: -10px">Remove </a>

      </div>  

        <p>
          <!-- <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary"> More Info</a> -->
        </p>
    </div>
  </div>  

  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="thumbnail">
      <img src="{% static 'student/images/paneerroll.jpg'%}">
      <div class="caption">
        <h4> Paneer Roll </h4> 
        <h5> Rs.30</h5>
                    <a class="btn btn-success btn-lg" href="{% url 'add_food' user_id=user.id food_id=18 val=2%}" role="button" style="float: left; margin-top: -10px">Add item</a>
          <a class="btn btn-danger btn-lg" href="{% url 'remove_food' user_id=user.id food_id=18 val=2%}" role="button" style="float: right; margin-top: -10px">Remove </a>

      </div>  

        <p>
          <!-- <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary"> More Info</a> -->
        </p>
    </div>
  </div>  
 

  
  



 </div>
    </div>      
 </div>
</div>

</body>
</html>