<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>order_food</title>
{#    <link href="../../static/student/option_loading.css"#}
    <link rel="stylesheet" href={% static 'student/landing_hc.css' %}>
        <link rel="stylesheet" href={% static 'student/styling.scss' %}>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Cookie|Lobster|Satisfy&display=swap" rel="stylesheet">
    <style>
        #button {
            margin-left: 520px;
        }
        #button2 {
            margin-left: 600px;
        }
    </style>
</head>
<body>


<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

 <!-- page-header -->
    <div class="page-header">
{#        <img src="../../static/student/images/wallpaper_canteen.jpg"  position="relative" background-size="cover">#}
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-caption">
                        <h1 class="page-title">HEALTH CENTER</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.page-header-->
    <!-- news -->
    <div class="card-section">
        <div class="container">
            <div class="card-block bg-white mb30">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <!-- section-title -->
                        <div class="section-title mb-0">
                            <h2> Welcome {{ user.username }}.</h2>
                        </div>
                    </div>
                </div>
            </div>

                             <div class="row">
    <div class="col-sm-12 text-center">

<div class="box">
{#    <form action="{% url 'view_menu' user.id %}" method="get">#}
    <a href="{% url 'view_schedule' user.id %}" class="btn btn-white btn-animation-1" ><div class="hospi">
        <h3> View Schedule</h3>
        </div>
    </a>

<br>
    <br>
    <a href="{% url 'book_appointment' user.id %}" class="btn btn-white btn-animation-1"><h3> Book An Appointment</h3></a>

</div>

    </div>
</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</body>
</html>










{##}
{##}
{##}
{##}
{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>order_food</title>#}
{#    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">#}
{#    <link href="https://fonts.googleapis.com/css?family=Cookie|Lobster|Satisfy&display=swap" rel="stylesheet">#}
{#    <style>#}
{#        #button {#}
{#            margin-left: 520px;#}
{#        }#}
{#        #button2 {#}
{#            margin-left: 600px;#}
{#        }#}
{#    </style>#}
{#</head>#}
{#<body>#}
{#<div class="container" style="margin-top: 50px;text-align: center;"><h3>Hey {{ user.username }}, Welcome to the Night Canteen!</h3></div>#}
{#<div class="schedule" style="margin-top: 50px;text-align: center;">#}
{#   <form action="{% url 'view_schedule' user.id %}" method="get">#}
{#     <h3>Health Center Schedule</h3>#}
{#        <button type="submit" class="btn btn-success">View</button></form>#}
{##}
{##}
{#      <!-- <button type="button" class="btn btn-danger">Edit</button> -->#}
{#  </div>#}
{# <div class="book" style="margin-top: 50px;text-align: center;">#}
{# <form action="{% url 'book_appointment' user.id %}" method="get">#}
{#  <h3>Appointment</h3>#}
{#   <button type="submit" class="btn btn-success">Book</button>#}
{#</div>#}
{##}
{#</body>#}
{#</html>#}
