<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>order_food</title>
{#    <link href="../../static/student/option_loading.css"#}
    <link rel="stylesheet" href={% static 'student/option_landing.css' %}>
        <link rel="stylesheet" href={% static 'student/styling.scss' %}>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Cookie|Lobster|Satisfy&display=swap" rel="stylesheet">
    <style>
        #button {
            margin-left: 520px;
        }
        #button2 {
            margin-left: 600px;
        }
    </style>
</head>
<body>


<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

 <!-- page-header -->
    <div class="page-header">
{#        <img src="../../static/student/images/wallpaper_canteen.jpg"  position="relative" background-size="cover">#}
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-caption">
                        <h1 class="page-title">Night Canteen</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.page-header-->
    <!-- news -->
    <div class="card-section">
        <div class="container">
            <div class="card-block bg-white mb30">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <!-- section-title -->
                        <div class="section-title mb-0">
                            <h2> Welcome {{ user.username }}, what's cooking?</h2>
                        </div>
                    </div>
                </div>
            </div>

                             <div class="row">
    <div class="col-sm-12 text-center">

<div class="box">
{#    <form action="{% url 'view_menu' user.id %}" method="get">#}
    <a href="{% url 'view_menu' user.id %}" class="btn btn-white btn-animation-1"><h3> View Menu</h3></a>
<a  href="#" class="btn btn-white btn-animation-1"><h3>Click to Order<h3></h3></a>

</div>

    </div>
</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</body>
</html>
