<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Outpass</title>
</head>
<body>
<div style="text-align: center;color: midnightblue;margin-top: 50px;text-decoration: underline;font-size: 30px">Outpass for {{ username }}</div>
<br><br><div style="font-size: 20px">
    <span style="color: midnightblue;">Full name :</span> {{ full_name }} <br>
    <span style="color: midnightblue;">Going to :</span> {{ going_to }} <br>
    <span style="color: midnightblue;">Vehicle :</span>{{ vehicle }}<br>
    <span style="color: midnightblue;">Date :</span>{{ date }} <br>
    <span style="color: midnightblue;">Current time :</span> {{ current_time }}<br>
    <span style="color: midnightblue;">Departure time :</span>{{ departure_time }}<br>
    <span style="color: midnightblue;">Expected arrival time :</span>{{ arrival_time }}<br>
    <span style="color: midnightblue;">Permission :</span> Granted<br>

</div>
</body>
</html>