<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Appointment</title>
</head>
<body>
<div style="text-align: center;color: midnightblue;margin-top: 50px;text-decoration: underline;font-size: 30px">Appointment for {{ username }}</div>
<br><br><div style="font-size: 20px">
    <span style="color: midnightblue;">Full name :</span> {{ full_name }} <br>
    <span style="color: midnightblue;">Date :</span>{{ date }} <br>
    <span style="color: midnightblue;">Time :</span> {{ time }}<br>
    <span style="color: midnightblue;">Appointment Status  :</span> Booked<br>

</div>
</body>
</html>
