/* elements */
body {
  font: 400 20px 'Muli', sans-serif !important;
  margin: 0;
  padding: 0;
}

header {
  margin: 0;
  max-width: 100%;
  padding: 5px;
  text-align: center;
  overflow: auto;
  font: 30px;
}

ul{
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  font-size: 30px;
}

li{
  background: slategrey;
  display: inline-block;
  margin: 5px;
  padding: 5px 7px;
}

li > a {
  color: white;
  font-size: 20px;
}

li > a:hover{
  color: #262626;
  text-decoration: none;
}

.inner {
  padding: 30px;
}
/* headings */

.container-fluid h2 {
  font-family: 'Montserrat', sans-serif;
}

.site-title {
  font-size: 50px;
  font-weight: 300;
  text-transform: uppercase;
}

/* text colors */

.black,
.k {
  font-color: #262626;
}

/* background colors */

.sq {
  /*  alignment  */
  float: left;
  margin: 5px;
  /*  size  */
  width: 200px;
  height: 200px;
  /*  box text  */
  color: #262626;
  text-align: center;
}

.sq:hover {
  border: 6px solid rgba(255,255,255, 0.5);
}

.sq p {
  vertical-align: middle;
  text-align: center;
  position: relative;
  top: 40px;
}

.c {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin: 10px;
}

/* table */
table{
  margin: 10px auto;
}

table > tbody > tr.tableizer-firstrow > th {
  padding: 10px;
  background: lavenderblush;
}

body > div.container-fluid.inner > table > tbody > tr > td{
  border: 4px solid #fff;
  width: 170px;
  padding: 10px;
  background: #f8f8f8;
}
.ananya{
  font-size: 50px;
  color: white;
  font-family: bold;
  text-align: center;
}
.container{
  background: #856c8b;
}
/*!*html {*!*/
/*!*  !*background: #bbc3c6;*!*!*/
/*!*  font: 62.5%/1.5em "Trebuchet Ms", helvetica;*!*/
/*!*}*!*/
/*!*i.icon{*!*/
/*!*    font-size: 2em;*!*/

/*!*}*!*/

/*!*.container.main{*!*/
/*!*    margin-top: 7em;*!*/
/*!*}*!*/
/*body {*/
/*  background: #5bc995;*/
/*  background: url('images/cheesemaggi.jpeg') no-repeat center center fixed;*/
/*  -webkit-background-size: cover;*/
/*  -moz-background-size: cover;*/
/*  background-size: cover;*/
/*  -o-background-size: cover;*/
/*}*/
/*#delete{*/
/*    display: inline;*/
/*}*/
/*.navbar navbar-default{*/
/*  color: #eef9bf;*/
/*}*/
/** {*/
/*  box-sizing: border-box;*/
/*  -webkit-font-smoothing: antialiased;*/
/*  font-smoothing: antialiased;*/
/*}*/

/*@font-face {*/
/*    font-family: 'Shopper';*/
/*    src: url('http://www.shopperfont.com/font/Shopper-Std.ttf');*/
/*}*/

/*.shopper {*/
/*  text-transform: lowercase;*/
/*  font: 2em 'Shopper', sans-serif;*/
/*  line-height: 0.5em;*/
/*  display: inline-block;*/
/*}*/

/*.example_c {*/
/*color: black ;*/
/*text-transform: uppercase;*/
/*text-decoration: none;*/
/*background: white;*/
/*padding: 20px;*/
/*border: 4px solid #494949 !important;*/
/*display: inline-block;*/
/*transition: all 0.4s ease 0s;*/
/*}*/
/*.example_c:hover {*/
/*color: #ffffff !important;*/
/*background: #f6b93b;*/
/*border-color: #f6b93b !important;*/
/*transition: all 0.4s ease 0s;*/
/*}*/
/*h1 {*/
/*  text-transform: uppercase;*/
/*  font-weight: bold;*/
/*  font-size: 4em;*/
/*}*/

/*p {*/
/*  font-size: 2.5em;*/
/*  color: black;*/
/*}*/

/*input {*/
/*  border: 0.3em solid #bbc3c6;*/
/*  padding: 0.5em 0.3em;*/
/*  font-size: 1.4em;*/
/*  color: black;*/
/*  text-align: center;*/
/*}*/

/*img {*/
/*  max-width: 9em;*/
/*  width: 100%;*/
/*  overflow: hidden;*/
/*  margin-right: 1em;*/
/*}*/

/*a {*/
/*  text-decoration: none;*/
/*}*/

/*.container {*/
/*  max-width: 75em;*/
/*  width: 95%;*/
/*  margin: 40px auto;*/
/*  overflow: hidden;*/
/*  position: relative;*/
/*color: red;*/
/*  border-radius: 0.6em;*/
/*  background: #ecf0f1;*/
/*  box-shadow: 0 0.5em 0 rgba(138, 148, 152, 0.2);*/
/*}*/

/*.heading {*/
/*  padding: 1em;*/
/*  position: relative;*/
/*  z-index: 1;*/
/*  color: #f7f7f7;*/
/*  background: #204051;*/
/*}*/

/*.cart {*/
/*  margin: 2.5em;*/
/*  overflow: hidden;*/
/*}*/

/*.cart.is-closed {*/
/*  height: 0;*/
/*  margin-top: -2.5em;*/
/*}*/

/*.table {*/
/*  background: #ffffff;*/
/*  border-radius: 0.6em;*/
/*  overflow: hidden;*/
/*  clear: both;*/
/*  margin-bottom: 1.8em;*/
/*}*/


/*.layout-inline > * {*/
/*  display: inline-block;*/
/*}*/

/*.align-center {*/
/*  text-align: center;*/
/*}*/

/*.th {*/
/*  background:#204051;*/
/*  color: #fff;*/
/*  text-transform: uppercase;*/
/*  font-weight: bold;*/
/*  font-size: 3em;*/
/*}*/

/*.tf {*/
/*  background: #204051;*/
/*  text-transform: uppercase;*/
/*  text-align: right;*/
/*  font-size: 20px;*/
/*}*/

/*.tf p {*/
/*  color: black;*/
/*  font-weight: bold;*/
/*}*/

/*.col {*/
/*  padding: 1em;*/
/*  width: 12%;*/
/*}*/

/*.col-pro {*/
/*  width: 44%;*/
/*}*/

/*.col-pro > * {*/
/*  vertical-align: middle;*/
/*}*/

/*.col-qty {*/
/*  text-align: center;*/
/*  width: 17%;*/
/*}*/

/*.col-numeric p {*/
/*  font: bold 1.8em helvetica;*/
/*}*/

/*.col-total p {*/
/*  color: black;*/
/*}*/
/*.vspace{*/
/*  width: 10px;*/
/*  white-space: -moz-pre-wrap;*/

/*}*/

/*.tf .col {*/
/*  width: 20%;*/
/*}*/
/*.rowcenter{*/
/*  align-content: center;*/

/*}*/
/*.row > div {*/
/*  vertical-align: middle;*/
/*}*/

/*.row-bg2 {*/
/*  background: #f7f7f7;*/
/*}*/

/*.visibility-cart {*/
/*  position: absolute;*/
/*  color: black;*/
/*  top: 0.5em;*/
/*  right: 0.5em;*/
/*  font:  bold 2em arial;*/
/*  border: 0.16em solid #fff;*/
/*  border-radius: 2.5em;*/
/*  padding: 0 0.22em 0 0.25em ;*/
/*}*/

/*.col-qty > * {*/
/*  vertical-align: middle;*/
/*}*/

/*.col-qty > input {*/
/*  max-width: 2.6em;*/
/*}*/


/*a.qty {*/
/*  width: 1em;*/
/*  line-height: 1em;*/
/*  border-radius: 2em;*/
/*  font-size: 2.5em;*/
/*  font-weight: bold;*/
/*  text-align: center;*/
/*  background: #43ace3;*/
/*  color: black;*/
/*}*/
.example_b {
  text: 20px;
color: black !important;
text-transform: uppercase;
text-decoration: none;
background: lavenderblush;
padding: 20px;
  border-bottom-width: 10px;
border-radius: 100px;
display: inline-block;
border: white;
transition: all 0.4s ease 0s;
}
.example_b:hover {
text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.4s ease 0s;
}
.example_b1 {
  text: 20px;
color: #fff !important;
text-transform: uppercase;
text-decoration: none;
background: #856c8b;
padding: 20px;
  /*border-bottom-width: 10px;*/
border-radius: 100px;
display: inline-block;
border: white;
transition: all 0.4s ease 0s;
}
.example_b1:hover {
text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.4s ease 0s;
}
/*a.qty:hover {*/
/*  background: #3b9ac6;*/
/*}*/

/*.btn {*/
/*  display:inline-block;*/
/* padding:0.7em 1.7em;*/
/* margin:0 0.3em 0.3em 0;*/
/* border-radius:0.2em;*/
/*  padding: 80px 70px;*/
/*  border-radius: 2em;*/
/*  font-size: 10em;*/
/*  font-weight: bold;*/
/*  background: #43ace3;*/
/*  color: #fff;*/
/*  box-shadow: 0 6px 0 rgba(59,154,198, 1)*/
/*}*/

/*.btn:hover {*/
/*  box-shadow: 0 3px 0 rgba(59,154,198, 0)*/
/*}*/

/*.btn-update {*/
/*  float: right;*/
/*  margin: 0 0 5em 0;*/
/*}*/

/*.transition {*/
/*  transition: all 0.3s ease-in-out;*/
/*}*/

/*@media screen and ( max-width: 755px) {*/
/*  .container {*/
/*    width: 98%;*/
/*  }*/

/*  .col-pro {*/
/*    width: 35%;*/
/*  }*/

/*  .col-qty {*/
/*    width: 22%;*/
/*  }*/

/*  img {*/
/*    max-width: 100%;*/
/*    margin-bottom: 1em;*/
/*  }*/
/*}*/

/*@media screen and ( max-width: 591px) {*/

/*}*/

/*.box{*/
/*  position:absolute;*/
/*  top:50%;*/
/*  left:50%;*/
/*  transform : translate(-50% ,-50%);*/
/*}*/

.btn:link,
.btn:visited{
  text-decoration: none;
  text-transform:uppercase;
  position:relative;
  top:0;
  left:0;
  padding:20px 40px;
  border-radius:100px;
  display:inline-block;
  transition: all .5s;
}

.btn-white{
  background:#fff;
  color:#856c8b;
}

.btn:hover{
   box-shadow:0px 10px 10px rgba(0,0,0,0.2);
   transform : translateY(-3px);
}

.btn:active{
  box-shadow:0px 5px 10px rgba(0,0,0,0.2);
  transform:translateY(-1px);
}

.btn-bottom-animation-1{
  animation:comeFromBottom 1s ease-out .8s;
}

.btn::after{
  content:"";
  text-decoration: none;
  text-transform:uppercase;
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  border-radius:100px;
  display:inline-block;
  z-index:-1;
  transition: all .5s;
}

/*.btn-white::after {*/
/*    background: #ffe0ac;*/

/*}*/

 .btn-white::after {
    background: #856c8b;

}

.btn-animation-1:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}
