<!DOCTYPE html>
<html>
    <head>
        <title>StudLife</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="style.css">
        <style>
            img{
                height: 200px;
                width: 200px;
            }
            .thumbnail img{
    width: 100%;
}
.thumbnail .caption-full{

    padding: 9px;
}
        </style>
    </head>
    <body>


<header>
	<nav class="navbar navbar-default">
	  <div class="container">
		  <!-- <img src="#" > -->
		<h1>STUDLIFE NIGHT CANTEEN</h1>
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
		  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		  </button>
		  <!--<a class="navbar-brand" href="#">Brand</a>-->
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		  <ul class="nav navbar-nav">
			<li class="active"><a href="menu.html">Hostel Favourites<span class="sr-only">(current)</span></a></li>
           
            <li><a href="refreshments.html">Refreshments</a></li>
            <li><a href="fastfood.html">Fast Food</a></li>
			<li><a href="maincourse.html">Main Course</a></li>
			
		  </ul>
		</div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
</header>

<div class="row text-center" style="display: flex; flex-wrap: wrap;" >
  <!-- <div class="col-lg-12">
      <h3> Our most popular sites</h3>
  </div> -->
  <div class="col-md-3 col-sm-6">
    <div class="thumbnail">
      <img src="tea.jpg" height="200" width="300">
      <div class="caption">
        <h4> Tea </h4>
        <h5> Rs.10</h5> 
      </div>  

        <p>
          <!-- <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary"> More Info</a> -->
        </p>
    </div>
    

      
        
  </div>  
  <div class="col-md-3 col-sm-6">
    <div class="thumbnail">
      <img src="aloopyaaz.jpg">
      <div class="caption">
        <h4> Aloo Pyaaz Paratha </h4> 
        <h5> Rs.12</h5> 
      </div>  

        <p>
          <!-- <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary"> More Info</a> -->
        </p>
    </div>
  </div>  
  <div class="col-md-3 col-sm-6">
    <div class="thumbnail">
      <img src="macroni.jpg">
      <div class="caption">
        <h4> Macaroni (Veg) </h4> 
        <h5> Rs.25</h5> 
      </div>  

        <p>
          <!-- <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary"> More Info</a> -->
        </p>
    </div>
  </div>  
  <div class="col-md-3 col-sm-6">
    <div class="thumbnail">
      <img src="maggi.jpeg">
      <div class="caption">
        <h4> Maggi (Plain) </h4> 
        <h5> Rs.25</h5> 
      </div>  

        <p>
          <!-- <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary"> More Info</a> -->
        </p>
    </div>
  </div>  
  <div class="col-md-3 col-sm-6">
    <div class="thumbnail">
      <img src="eggboil.jpg">
      <div class="caption">
        <h4> Egg Boil (2) </h4> 
        <h5> Rs.18</h5> 
      </div>  

        <p>
          <!-- <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary"> More Info</a> -->
        </p>
    </div>
  </div>  
  <div class="col-md-3 col-sm-6">
    <div class="thumbnail">
      <img src="chiroll.jpeg">
      <div class="caption">
        <h4> Chicken Roll </h4> 
        <h5> Rs.45</h5> 
      </div>  

        <p>
          <!-- <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary"> More Info</a> -->
        </p>
    </div>
  </div>  

  <div class="col-md-3 col-sm-6">
    <div class="thumbnail">
      <img src="paneerparatha.jpg">
      <div class="caption">
        <h4> Paneer Paratha </h4> 
        <h5> Rs.20</h5> 
      </div>  

        <p>
          <!-- <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary"> More Info</a> -->
        </p>
    </div>
  </div>  
  <div class="col-md-3 col-sm-6">
    <div class="thumbnail">
      <img src="vegroll.jpeg">
      <div class="caption">
        <h4> Roll (Veg) </h4> 
        <h5> Rs.25</h5> 
      </div>  

        <p>
          <!-- <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary"> More Info</a> -->
        </p>
    </div>
  </div>  

  
  



 </div>
         
 </div>
</div>

</body>
</html>