<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel = "icon" href ="{% static 'index/images/logo.png' %}" type = "image/x-icon"> 
    <title>Developers</title>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:wght@700|Libre+Baskerville|Dancing+Script|Montserrat|Cookie|Lobster|Open+Sans:wght@300|Satisfy&display=swap"
    rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
        integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="../../static/index/style1.css" rel="stylesheet">
    <script src="../../static/index/developer.js"> </script>
</head>
    <header>
        <style>
            body{
                height: 220vh;
            }
            #p1 {
                background-image: url("http://www.entypo.com/images/arrow-left.svg");
                background-repeat: no-repeat;
                background-color: #ac26ff69;
                height: 50px;
                width: 50px;
                float: left;

                position: absolute;
                margin-left: -45%;
            }

            #p1:hover {
                box-shadow: 0px 0px 10px #5d069269;
            }

            #text1 {
                font-family: 'Amatic SC', cursive;
                position: absolute;
                margin-left: 6%;

                font-size: 50px;
            }
            .overlay h1 {
                font-family: 'Lobster', cursive;
                font-size: 80px;
                margin-bottom: 30px;
            }
            .overlay h3{
                font-family: 'Libre Baskerville', serif;
            }
            .square-container2 h2{
                font-family: 'montserrat', arial, verdana;
                font-weight: 100;
                text-align: justify;
            }
            .square-container h2{
                font-family: 'Libre Baskerville', serif;
                font-weight: 100;
            }
        </style>

        <div class="overlay">
            <h6 id="text1">Go back</h6>
            <a class="btn btn-light" href="{% url 'index' %}" role="button" id="p1"></a>

            <h1>StudLife</h1>
            <h3>DEVELOPERS</h3>
            <!-- <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero nostrum quis, odio veniam itaque ullam debitis qui magnam consequatur ab. Vero nostrum quis, odio veniam itaque ullam debitis qui magnam consequatur ab.</p>
            	<br>
            	<button>READ MORE</button>
            		</div> -->
        </div>
    </header>


    <body>

        <div class="centerflipcards">

            <div class="square-flip">
                <div class='square'
                    data-image="https://images.unsplash.com/photo-1477313372947-d68a7d410e9f?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb">
                    <div class="square-container">
                        <div class="align-center"><img src="../../static/index/images/ananya.JPG" class="boxshadow"
                                alt="" height="350"></div>
                        <h2 class="textshadow">Ananya Mohanty</h2>
                        			<!-- <h3 class="textshadow">The #1 Selling Most Enjoyable and Creative Multipurpose WordPress theme.</h3> -->
                    </div>
                    <div class="flip-overlay"></div>
                </div>
                <div class='square2'
                    data-image="https://images.unsplash.com/photo-1477313372947-d68a7d410e9f?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb">
                    <div class="square-container2">
                        <div class="align-center"></div>
                        <h2>Ananya is currently pursuing her B.Tech in Information Technology from IIIT-A. She has an
                            enthusiasm about learning new frameworks and creating web and ios mobile applications. </h2>
                    </div>
                    <div class="flip-overlay"></div>
                </div>
            </div>

            <div class="square-flip">
                <div class='square' data-image="http://titanicthemes.com/files/flipbox/kallyas-bundle.png">
                    <div class="square-container">
                        <div class="align-center"><img src="../../static/index/images/cheena.JPG" alt="" height="350">
                        </div>
                        <h2 class="textshadow">Cheena Buddhiraja</h2>
                        			<!-- <h3 class="textshadow">The #1 Selling Most Enjoyable and Creative Multipurpose WordPress theme.</h3> -->
                    </div>
                    <div class="flip-overlay"></div>
                </div>
                <div class='square2' data-image="http://titanicthemes.com/files/flipbox/kallyas-bundle.png">
                    <div class="square-container2">
                        <div class="align-center"></div>
                        <h2> Cheena is a second year undergraduate student at IIIT-A hailing from Rohtak. She enjoys
                            making web applications and spends her free time doing volunteer work.</h2>
                    </div>
                    <div class="flip-overlay"></div>
                </div>
            </div>

            <div class="square-flip">
                <div class='square'
                    data-image="https://instagram.fotp3-2.fna.fbcdn.net/t51.2885-15/e35/14712096_386502691740262_2357154798815412224_n.jpg?ig_cache_key=MTM2NzU2MzUwNjQ3OTUzOTgxNQ%3D%3D.2">
                    <div class="square-container">
                        <div class="align-center"><img src="../../static/index/images/rohini.JPG" class="boxshadow"
                                alt="" height="350"></div>
                        <h2 class="textshadow">Rohini Mishra</h2>
                        				<!-- <h3 class="textshadow">The #1 Selling Most Enjoyable and Creative Multipurpose WordPress theme.</h3> -->
                    </div>
                    <div class="flip-overlay"></div>
                </div>
                <div class='square2' data-image="http://titanicthemes.com/files/flipbox/kallyas-wedding.jpg">
                    <div class="square-container2">
                        <div class="align-center"></div>
                        <h2>Rohini is an enthusiastic undergrad student, and is keen in learning about Machine Learning
                            and latest technologies that surround the IT industry. She is also currently pursuing her
                            B.Tech from IIIT-Allahabad. </h2>
                    </div>
                    <div class="flip-overlay"></div>
                </div>
            </div>



        </div>

        <div class="centerflipcards">

            <div class="square-flip">
                <div class='square'
                    data-image="https://images.unsplash.com/photo-1477313372947-d68a7d410e9f?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb">
                    <div class="square-container">
                        <div class="align-center"><img src="../../static/index/images/ashima.JPG" class="boxshadow"
                                alt="" height="350"></div>
                        <h2 class="textshadow">Ashima Sehgal</h2>
                        				<!-- <h3 class="textshadow">The #1 Selling Most Enjoyable and Creative Multipurpose WordPress theme.</h3> -->
                    </div>
                    <div class="flip-overlay"></div>
                </div>
                <div class='square2'
                    data-image="https://images.unsplash.com/photo-1477313372947-d68a7d410e9f?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb">
                    <div class="square-container2">
                        <div class="align-center"></div>
                        <h2>Ashima is currently pursuing her undergrad in Information Technology from IIIT-A and enjoys
                            solving programming questions in various competitive coding sites. Hailing from Amritsar,
                            she spends her time discovering tech domains and solving problem statements.</h2>
                    </div>
                    <div class="flip-overlay"></div>
                </div>
            </div>

            <div class="square-flip">
                <div class='square' data-image="http://titanicthemes.com/files/flipbox/kallyas-bundle.png">
                    <div class="square-container">
                        <div class="align-center"><img src="../../static/index/images/cheena.JPG" alt="" height="350">
                        </div>
                        <h2 class="textshadow">Ankita Chandra </h2>
                        				<!-- <h3 class="textshadow">The #1 Selling Most Enjoyable and Creative Multipurpose WordPress theme.</h3> -->
                    </div>
                    <div class="flip-overlay"></div>
                </div>
                <div class='square2' data-image="http://titanicthemes.com/files/flipbox/kallyas-bundle.png">
                    <div class="square-container2">
                        <div class="align-center"></div>
                        <h2> TO DO</h2>
                    </div>
                    <div class="flip-overlay"></div>
                </div>
            </div>

            <div class="square-flip">
                <div class='square'
                    data-image="https://instagram.fotp3-2.fna.fbcdn.net/t51.2885-15/e35/14712096_386502691740262_2357154798815412224_n.jpg?ig_cache_key=MTM2NzU2MzUwNjQ3OTUzOTgxNQ%3D%3D.2">
                    <div class="square-container">
                        <div class="align-center"><img src="http://titanicthemes.com/files/flipbox/kallyas2.png"
                                class="boxshadow" alt=""></div>
                        <h2 class="textshadow">Aayushi Thakur</h2>
                        				<!-- <h3 class="textshadow">The #1 Selling Most Enjoyable and Creative Multipurpose WordPress theme.</h3> -->
                    </div>
                    <div class="flip-overlay"></div>
                </div>
                <div class='square2' data-image="http://titanicthemes.com/files/flipbox/kallyas-wedding.jpg">
                    <div class="square-container2">
                        <div class="align-center"></div>
                        <h2>TO DO</h2>
                    </div>
                    <div class="flip-overlay"></div>
                </div>
            </div>



        </div>



    </body>

</html>
